.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieCard{
  margin-top : 30px;
  background-color: rgb(243, 241, 237);
  padding : 20px;
  display: flex;
  align-items: center;
}
.star{
  margin-left: 20px;
  background-color: white;
}
p{
  margin: 5px !important;
  
}