.navbar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button{
  width : 100px;
  margin : 10px;
  padding : 5px;
  background-color: #ccc;
}
.button>a{
  color : black
}
.button:hover{
  background-color: rgb(247, 240, 226);
}

